{{ ansible_managed | comment }}
[Unit]
Description=Mattermost
After=network-online.target
{% if mattermost_db_type == 'local' %}
After={{ mattermost_postgresql_service }}.service
Requires={{ mattermost_postgresql_service }}.service
{% endif %}
Wants=network-online.target

[Service]
Type=notify
ExecStart={{ mattermost_install_dir }}/bin/mattermost
WorkingDirectory={{ mattermost_install_dir }}
Environment=MM_CONFIG={{ mattermost_config_path }}
User={{ mattermost_user }}
Group={{ mattermost_group }}
Restart=always
RestartSec=10
TimeoutStartSec=3600
LimitNOFILE=49152
KillMode=mixed

[Install]
WantedBy=multi-user.target
